Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.o
*.lo
*.la
*~
*.exe
*.dll
*.lib
*.ncb
*.Ivan.user
*.Eneaa.user
projects/visualc9/Debug
projects/visualc9/Release
*.bak